body {
  background-image: url(./src/images/ball-background.jpg);
  background-size: cover; }

.crud-wrap {
  background: #ffffff;
  width: 800px;
  padding: 5%;
  border-radius: 5px; }

.button-box {
  position: absolute;
  left: 600px; }

#but {
  color: white;
  outline: 0;
  background: #9c88ff;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
  right: 20px;
  font-size: 10pt; }

.form-control {
  width: 200px;
  position: absolute;
  left: 830px;
  font-size: 10pt; }
