body {
  background-image: url(../src/images/ball-background.jpg);
  background-size: cover; }

.crud-wrap {
  background: #ffffff;
  width: 800px;
  padding: 3%;
  border-radius: 5px; }

.button-box {
  position: absolute;
  left: 600px; }

#but {
  color: white;
  outline: 0;
  background: #9c88ff;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
  right: 20px;
  font-size: 10pt; }

.form-control {
  width: 200px;
  position: absolute;
  left: 830px;
  font-size: 10pt; }

.login-wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  background: #ecf0f1;
  width: 600px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px; }

h2 {
  text-align: center;
  font-weight: 35;
  font-size: 200;
  color: #34495e; }

.form {
  padding-top: 20px; }

input[type="text"],
input[type="date"],
button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 50px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none; }

input[type="text"],
input[type="date"] {
  border: 2px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 16px; }
  input[type="text"]:focus,
  input[type="date"]:focus {
    -webkit-box-shadow: 0px 0px 4px #4195fc;
    -moz-box-shadow: 0px 0px 4px #4195fc;
    box-shadow: 0px 0px 4px #4195fc; }

button {
  background: #9c88ff;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease; }
